/* Custom styles for the slider container */
.header {
  background: var(--paGradient);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#737373",GradientType=1);
display: flex;
align-items: center;
justify-content: center;
padding: 0.75rem;
color: white;

margin-bottom: 3rem;
}

.fileheader {
  margin: 1.5 rem;
  font-size: 32px;
  font-weight: 600;
  
}
.filename {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.header h1 {
  font-size: 48px;
  font-weight: 600;
}
.slider-container {
  background-color:#abc8e2; /* Set the background color to white */
    margin-top: 1.5rem;
  }
  
  /* Custom styles for the arrows */
  .slick-prev,
  .slick-next {
    color: white; /* Set the arrow color to white */
  }

.sliderdiv {
    height: 100%;
    background-color: aliceblue;
}
.notesdiv {
  background-color: var(--primary);
  color: white;
}
.insidenotediv {
  border-radius: 1rem;
  background-color: var(--secondary);
  padding: 1.25rem;
  color: var(--text);
}
.filesdiv {
    background-image: url('./file.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 12rem 12rem;
    position: relative;
    height: 12rem;
    width: 12rem;
}

.filesdiv p{
  font-size: 34px;
  color: black;
  font-weight: 500;
  font-family: sans-serif;
}