.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;

  .card {
    display: inline-block;
    width: 383px;
    margin: 1rem;
  }

}
.scrolling-wrapper::-webkit-scrollbar {
  background: var(--background);
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

.scrolling-wrappers {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;

  .card {
    display: inline-block;
    width: 383px;
    margin: 1rem;
  }

}
.scrolling-wrappers::-webkit-scrollbar {
  background: var(--background);
}
.scrolling-wrappers::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
