@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text: #080808;
  --background: #ffffff;
  --primary: #000F95;
  --secondary: #ADC0DB; 
  --paGradient: rgb(102,124,183);
  --paGradient: -moz-linear-gradient(90deg, rgba(102,124,183,1) 0%, rgba(76,88,123,1) 100%);
  --paGradient: -webkit-linear-gradient(90deg, rgba(102,124,183,1) 0%, rgba(76,88,123,1) 100%);
  --paGradient: linear-gradient(90deg, rgba(102,124,183,1) 0%, rgba(76,88,123,1) 100%);
  --accent: #202d50;/* primary */
  --boxshadow: #ADC0DB;
}

@media (prefers-color-scheme: dark) {
  .dark-mode {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text: #ffffff;
    --boxshadow: #FFFFFF;
    --background: #202020;
    --primary: #5D64FF;/* secondary */
    --secondary: #2C2C2C ;
    --accent: #2e4686; /* primary */
    --paGradient: rgb(44,86,205);
    --paGradient: -moz-linear-gradient(90deg, rgba(44,86,205,1) 0%, rgba(193,202,225,1) 100%);
    --paGradient: -webkit-linear-gradient(90deg, rgba(44,86,205,1) 0%, rgba(193,202,225,1) 100%);
    --paGradient: linear-gradient(90deg, rgba(44,86,205,1) 0%, rgba(193,202,225,1) 100%);
  } 
}



.inner {
  background-color: var(--background);
  width: 100%;
 
}

.accentbg {
  background: var(--accent);
}

.outer {
  display: flex; /* Use flexbox to position Sidebar and inner content */
  padding: 3rem;
  background-color: var(--secondary);
}

.sidebar {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: 5vw; /* Adjust the width as needed */
  background-color: var(--secondary); /* Match the background color of .outer */
  /* Add scroll if content overflows */
  z-index: 1000;
  border-radius: 86px;
  
}





@media only screen and (max-width: 600px) {
  .outer {
    padding: 0rem;
  }
  .sidebar {
    width: 50px;
  }
}
@media only screen and (max-width: 1800px) {
  
  .sidebar {
    width: 55px;
  }
}
