.contain {
  width: 100%;
}

.headings {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headertable {
  border-radius: 11px;
  background: var(--background);
  box-shadow: -2px -2px 4px 0px var(--boxshadow), 4px 4px 4px 0px var(--boxshadow);
  width: 100%;
  margin-left:2rem;
}

/* Adjust the margin or padding for h1 elements as needed */
.headings h1 {

}

/* Make the second h1 element take up the available space */
.headings h1:last-child {
  flex: 1;
  text-align: right;
}

/* Assuming you have variables defined for background and boxshadow */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;

  .card {
    display: inline-block;
    width: 383px;
    margin: 1rem;
  }

}
.scrolling-wrapper::-webkit-scrollbar {
  background: var(--background);
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
  .flexbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; /* Set width to 100% for full width within container */
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {

    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Additional styling for the subjects */
  .column div {
    
    color: white;



  }
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
  display: none; /* Hide elements with opacity 0 */
}
.input {
  border-radius: 38px;
background: var(--secondary);
padding: 12px;
color:var(--text);
border: none;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.48px;
width: 100%;
 outline: none;
}
.inputiconbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputbox {
  display: flex;
border-radius: 38px;
  background: var(--secondary);
  padding: 1rem;
  width: 95%;
}

.inputsbox {
  display: flex;
  align-items: center;
  justify-content: center;


}


  .hr {
    color: white;
    background-color: white;
  }

  .tester {
    position: relative;

    width: 90%;
    margin-top: 50px;
    aspect-ratio: 2/1;
  }
  .bodytext {
    background-color: blue;
  }
  
  .column p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
.image {
  position:relative;
  width: 100%;
  aspect-ratio: 9/5;


}

.button {
  margin-top: 50vh;
  margin-left: 10vw;
  background-color: #3824cd;
  color: white;
  padding: 0.5rem 5rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 24px;
}

.headertable {
  border-radius: 11px;
background: var(--background);
box-shadow: -2px -2px 4px 0px var(--boxshadow), 4px 4px 4px 0px var(--boxshadow);
display: flex;
justify-content: center;
align-items: center;
margin: 2rem;

}

.header {
  font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.92px;
padding: 4rem;
color: var(--text);
}

.flexbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-inplace {
  border-radius: 38px;
background: var(--secondary);
color:var(--text);
border: none;
font-size: 18px;
padding: 8px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.48px;
width: 100%;
 outline: none;
}

/* Additional styling for the subjects */
.column div {
  color: white;
}
.newbutton {
border-radius: 10px;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.64px;
padding: 1.25rem;
color: white;
background-color: var(--primary);
}
.tester {
  position: relative;
  width: 90%;
  margin-top: 50px;
  aspect-ratio: 2/1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  padding: 4rem;
  color: var(--text);
}
