
  
  .flexbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center; /* Set width to 100% for full width within container */
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {

    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Additional styling for the subjects */
  .column div {
    
    color: white;

    padding: 2rem;

  }

  .hr {
    color: white;
    background-color: white;
  }

  .tester {
    position: relative;

    width: 90%;
    margin-top: 50px;
    aspect-ratio: 2/1;
  }
  .bodytext {
    background-color: blue;
  }
  
  .column p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
.image {
  position:relative;
  width: 100%;
  aspect-ratio: 9/5;


}

.button {
  margin-top: 50vh;
  margin-left: 10vw;
  background-color: #3824cd;
  color: white;
  padding: 0.5rem 5rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 24px;
}